header{
	background-color: red;
	height: 80px;
}
nav{
	background-color: #ccc;
	height: 40px;
}
#visor{
	background-color: #3df;
}
.container{
	background-color: #ad3;
}
.informacion{
	background-color: blue;
	color: white;
	height: 90px;
	text-align: center;
}